<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
        <!-- TODO #1 - Use a loop to display job results in a table. -->
        </div>

            <table class="job-listing">
                <tr>
                    <th:block th:each="column : ${columns}">
                        <th th:text = "${column.value}"></th>
                    </th:block>
                </tr>
            </table>

            <table th:each="job : jobs"all jobs>
<!--                <th:block >-->
                    <tr  th:each="item : ${job}"job>
                        <td th:each="category : ${item}" category >
                            <p th:each = "field : ${category}" th:text = "${field}"id printdata></p>
                        </td>
                    </tr>
<!--                    <tr th:each="category : ${item}" category>-->
<!--                        <td th:each = "field : ${category}" th:text = "${field}"id print name></td>-->
<!--                    </tr>-->
<!--                   <tr th:each="category : ${item}" category>-->
<!--                        <td th:each = "field : ${category}" th:text = "${field}"employer></td>-->
<!--                   </tr>-->
<!--                    <tr th:each="category : ${item}" category>-->
<!--                        <td th:each = "field : ${category}" th:text = "${field}"location></td>-->
<!--                    </tr>-->
<!--                    <tr th:each="category : ${item}" category>-->
<!--                        <td th:each="field : ${category}" th:text = "${field}" position type></td>-->
<!--                    </tr>-->
<!--                    <tr th:each="category : ${item}" category>-->
<!--                        <td th:each = "field : ${category}" th:text = "${field}" core competency></td>-->
<!--                    </tr>-->
<!--                </th:block>-->
            </table>

<!--        <th:block th:each="job : jobs"alljobs>-->
<!--            <table th:each="item : ${job}"job>-->
<!--                <tr  th:each="category : ${item}" category>-->
<!--                    <td  th:each = "field : ${category}" data>-->
<!--                        <p th:text = "${field}"></p>-->
<!--                    </td>-->
<!--                <tr>-->
<!--                    <td th:each = "field : ${category}" th:text = "${field.name}">name</td>-->
<!--                </tr>-->
<!--                <td th:each = "field : ${category}" th:text = "${field.employer}">employer</td>-->
<!--                <td th:each = "field : ${category}" th:text = "${field.location}">\n</td>-->
<!--                <tr>-->
<!--                    <td th:each="field : ${category}" th:text = "${field.positionType}" ></td>-->
<!--                </tr>-->
<!--                <td th:each = "field : ${category}" th:text = "${field.coreCompetency}" ></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </th:block>-->
<!--&lt;!&ndash;        <table>&ndash;&gt;-->
<!--            <th></th>-->
<!--            <tr>-->
<!--                <th:block th:each="column : ${columns}">-->
<!--                    <th th:text = "${column.value}"></th>-->
<!--                </th:block>-->
<!--            </tr>-->
<!--            <tr th:each="category : ${tableChoices}">-->



<!--                <td th:each="item : ${category.value}">-->
<!--                        <ul th:if  ="${}">-->
<!--                            <a th:text="${item}">heading</a>-->
<!--                        </ul>-->


<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->

    </body>
</html>
